*{
    padding: 0;
    margin: 0;
}

/* flex-shrink: It is applied on flex items to shrink for responsive page on view port */
/* flex-shrink: 0; zero srink on this property */
/* flex-shrink: 1; the flex items resize and fit to the container andit default value */
/* we can use for individual items to shrink not to shrink eg:logos in the page */
.container{
    height:300px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sbox{
    height: 100px;
    width: 120px;
    background-color: aqua;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
#fibox1{
    flex-shrink: 0;
}
#fibox2{
    flex-shrink: 5;   /*  srink on this property 5 times small compare to others in the viewport full view (this is not used much)*/
}


/* flex-grow: It is applied on flex items to grow and fill for responsive page on view port */
/* flex-grow: 0; zero grow on this property */
/* flex-grow: 1; the flex items grow and fit to the container and it default value */
/* we can use for individual items to grow not to grow eg:search bar */
.container1{
    height:300px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sbox1{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
#fibox11{
    flex-grow: 0;   /* zero grow on this property stays as original size */
}

#fibox22{
    flex-grow: 5;   /*  grow on this property 5 times large compare to others in the viewport full view */
}

/* min */
/* we can use max-width or max-height and min-width or min-height apply flex srink and flexgrow */
.container2{
    height:300px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sbox2{
    height: 200px;
    width: 120px;
    background-color: yellow;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    min-width: 75px;
}
#fiboxmin1{
    flex-shrink: 0;   /* zero grow on this property stays as original size */
}
#fiboxmin2{
    flex-grow: 5;   /*  grow on this property 5 times large compare to others in the viewport full view */
}

/* max */
.container3{
    height:300px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sbox3{
    height: 100px;
    width: 200px;
    background-color: green;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    max-width: 300px;
}
#fiboxmax1{
    flex-grow: 0;   /* zero grow on this property stays as original size */
}
#fiboxmax2{
    flex-grow: 5;   /*  grow on this property 5 times large compare to others in the viewport full view */
}


/* after the min width the elements starts overflow from the box to avoid this issue we use the media  */
/* to aviod the over flow of the elements flex wrap and mediaqueary */
/* mediaqueary can written in @media (max-width:830px), @media (min-width:500px), @media (min-width:300px) and (max-width:500px) */
.container4{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    gap: 10px;
}
.sbox4{
    flex-shrink: 1;
    height: 200px;
    width: 200px;
    background-color: orange;
    border: 2px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}

@media (max-width:830px){
     .container4{
        flex-wrap: wrap;
        align-content: flex-start; /* this is given so that no space is taken between one cross axis and other cross axis */
        padding: 10px;
    }
}
@media (min-width:300px) and (max-width:500px){
    .sbox4{
        background-color: rgb(110, 173, 218);
    }
}
@media (max-width:300px){
     .container4{
        flex-wrap: wrap;
        align-content: flex-start; /* this is given so that no space is taken between one cross axis and other cross axis */
        padding: 10px;
    }
    .sbox4{
    height: 100px;
    width: 100px;
    background-color: orange;
    border: 2px solid black; 
    }
}



/* align-self */
.container5{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    gap: 10px;
}
.sbox5{
    height: 200px;
    width: 200px;
    background-color: mediumseagreen;
    border: 2px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}
#fiboxas1{
    align-self: self-start;
}
#fiboxas5{
    align-self: self-end;
}
/* align-self has higest property compare to the align-items and align content */
/* align-self is applied on individual item */
/* align-self is given top and align-items at top still it consider the align-self */