*{
    padding: 0;
    margin: 0;
}
.containerlist{
    display: grid;
    grid-template-columns: repeat(4,300px);
    justify-content: center;
    gap:1em;
}   
.item{
    display:flex ;
    flex-direction: column;
    align-items: center;
}
.item p{
    font-weight: 700;
}

.item img{
    width: 250px;
    height: auto; 
    /* the height is set auto  */
    object-fit: cover;
    border-radius: 10px;
}